body {
  background-color: #cacaca;
  padding-top: 3rem;
}

main {
  max-width: 500px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: system-ui;
  background-color: white;
  color: #282828;
  padding: 1rem 3rem 5rem;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1)
}

main img {
  width: 100%;
  height: auto;
}