#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Mis estilos */
article {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  text-align: left; 
}

article strong {
  font-size: .9rem;
}

article header {
  font-size: .8rem;
  display: flex;
  align-items: center;
  gap: .6rem;
}

article header div {
  display: flex;
  flex-direction: column;
}

article header span {
  opacity: .6;
}

article img {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

article button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 8px 16px;
  font-weight: bold;
  background-color: #f6f6f6;
  color: #222222;
  transition: .3s ease background-color;
}

article button:hover {
  opacity: .8;
}